// SPDX-FileCopyrightText: 2020 M. Shulhan <ms@kilabit.info>
// SPDX-License-Identifier: GPL-3.0-or-later
/_doc/*.html
/cover.html
/cover.out
/testdata/*.html
/testdata/_includes/*.html
/testdata/man/*.got.7
